<nav class="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <i class="fas fa-graduation-cap"></i>
                <span>University VLE</span>
            </div>
            <div class="nav-items">
                <a href="{% url 'dashboard:route' %}" class="logout-btn">
                    <i class="fas fa-arrow-left"></i> Back to Dashboard
                </a>

                <a href="{% url 'Users:logout' %}" class="logout-btn">
                <button id="logout-btn" class="logout-btn">
                    <i class="fas fa-sign-out-alt"></i>Logout
                </button>
                </a>
            </div>
        </div>
</nav>